#content{
    margin:auto;
    width:90%;

}

#header2{
    color:#343434;
    margin:auto;
    width:30%;
}

.underHeader{
  margin-left: 41%;
}

body{
    background-color: #f5e8aa;
}

#border1{
    position:absolute;
    top:220px;
    left:400px;
    margin:auto;
    background-color:#f5c77e;
    width:45%;
    border-style:solid;
    clear:left;
}

.Title1{
    color:saddlebrown;
    position: relative;
    left:20px;
}

.row:after{
    display:table;

}

.column{
    float: left;
    width:50%;
    
}

#column2{
  column-count:2;
  display:flex;
  width:50%;
  column-gap:100px;
  margin-left:33%;
}



#footer2{
  position: absolute;
  left: 240px;
  top: 600px;
}
#footer3{
  position: absolute;
  left: 240px;
  top: 620px;
}
table{
    border-style:solid;
    position:absolute;
    top:550px;
}

tr{
    border-style:solid;
}
td{
    border-style:solid;
}

a[target="_blank"]{
    background-color:chocolate;
    
}
a:hover{
    background-color: black;
}


#image{
 position:absolute;
 left:-40px;
 top:-30px;
}

#image2{
  position:absolute;
  left:1222px;
  top:-30px;
}


*{
  font-family:'Trebuchet MS';
}

#Title2{
  position:absolute;
  top:300px;
  left: 20px;
  color: saddlebrown;
}

#li1{
  position: absolute;
  top: 350px;
}

#li2{
  position: absolute;
  top: 370px;
}


#li3{
  position: absolute;
  top: 390px;
}


#li4{
  position: absolute;
  top: 410px;
}

#li5{
  position: absolute;
  top: 430px;
}

#li6{
  position: absolute;
  top: 450px;
}


#Desc{
  color: brown;
  position:absolute;
  top: 475px;
  left: 20px;
  max-width: 390px;
}
