

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&family=Ubuntu:wght@300&display=swap');

*{
  font-family: 'Libre Franklin', sans-serif;
  font-family: 'Ubuntu', sans-serif;
}

@media screen and (max-width: 700px){
  body{
    margin:0;
    padding:0;
    background-color: black;
  }

  .container{
    display:grid;
    grid-template-rows: repeat(100, 2%);
    grid-template-columns: repeat(5, 20%);
    background-color: black;
  }
  #underP1{
    visibility: hidden;
  }
  #underP2{
    visibility: hidden;
  }
  #underP3{
    visibility: hidden;
  }
  #underP4{
    visibility: hidden;
  }


  .navb{
    padding-top:2%;
    grid-column:1/6;
    display:flex;
    justify-content:space-evenly;
    background-color:black;
  }
  .pfp{
    display: grid;
    grid-row:2/6;
    grid-column: 1/6;
    align-content: center;
    background-color: black;
  }
  #cirImg{
    clip-path: circle(10%);
    background-color: white;
    text-align: center;

  }
  #imgsca{
    width:30%;
    height:auto;
  }

  #overP1{
    background-color: #45A29E;
    grid-column: 1/6;
    grid-row: 11/14;
    text-align: left;
    opacity: 80%;
    margin-bottom: 21px;
    margin-top: 20px;

  }
  #overP2{
    background-color: #66FCF1;
    grid-column: 1/6;
    grid-row: 13/15;
    text-align: left;
    margin-top: 10px;
  }
  



  #email{
    background-color: #1F2833;
    grid-column: 1/6;
    grid-row: 15/18;
    margin-top: 16px;
    padding-left: 65px;
  }
  #emailtext{
    margin-left: 25px;
    grid-column: 1/3;
    grid-row: 17;
  }
  #button1{
    grid-column: 3/6;
    grid-row: 17;
    margin-left: 40px;
  }
  #emailicon{
    width:40px;
    height:40px;
    grid-column: 1;
    grid-row:15/17;
    margin-top: 20px;
    margin-left: 10px;
  }
  
  .colB{
    overflow-y: scroll;
  }





  #imgcol1{
    grid-column: 1/6;
    grid-row: 18/25;
    margin-left: 20px;
    margin-right: 20px;
  }
  #col1H{
    
    grid-row: 25/27;
    grid-column: 1/6;
    margin-left: 20px;
    margin-right: 20px;
  }
  #col1B{
    background-color: #1F2833;
    grid-row: 27/29;
    grid-column: 1/6;
    margin-left: 20px;
    margin-right: 20px;
  }





  #imgcol2{
    grid-row: 32/39;
    grid-column: 1/6;
    margin-left: 20px;
    margin-right: 20px;
  }
  #col2H{
    background-color: black;
    grid-row: 39/41;
    grid-column: 1/6;
    margin-left: 20px;
    margin-right: 20px;
  }
  #col2B{
    background-color: #1F2833;
    grid-row: 41/43;
    grid-column: 1/6;
    margin-left: 20px;
    margin-right: 20px;
  }





  #imgcol3{
    grid-row: 46/53;
    grid-column: 1/6;
    margin-left: 20px;
    margin-right: 20px;
  }
  #col3H{
    background-color: black;
    grid-row: 53/55;
    grid-column: 1/6;
    margin-left: 20px;
    margin-right: 20px;
  }
  #col3B{
    background-color: #1F2833;
    grid-row: 55/57;
    grid-column: 1/6;
    margin-left: 20px;
    margin-right: 20px;
  }




  #imgcol4{
    grid-row: 59/66;
    grid-column: 1/6;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
  }
  #col4H{
    grid-row: 66/68;
    grid-column: 1/6;
    margin-left: 20px;
    margin-right: 20px;
    background-color: black;
  }
  #col4B{
    background-color: #1F2833;
    grid-row: 68/70;
    grid-column: 1/6;
    margin-left: 20px;
    margin-right: 20px;
  }


  .undercol{
    grid-column: 1/6;
    background-color: black;
  }
  #undercol1{
   grid-row: 29/30;
   margin-left: 30px;
  }
  #undercol2{
    grid-row: 43;
    margin-left: 30px;
  }
  #undercol3{
    grid-row: 57/59;
    margin-left: 30px;
  }
  #undercol4{
    grid-row: 70;
    margin-left: 30px;
  }

  #asidebar{
    background-color: black;
    grid-column: 1/6;
    grid-row: 71/79;
    text-align: center;
    
  }


  #break{
    grid-column: 1/6;
    grid-row: 78;
    color: white;
    background-color: black;
  }

  #footer{
    grid-column: 1/3;
    grid-row: 78;
    margin-top: 10px;
    margin-left: 10px;
  }

  #insta{
    grid-column: 5/6;
    grid-row: 78;
    margin-top: 30px;
    margin-left: 50px;
    height:40px;
    width:40px;
  }




  #toyotalogo{
    visibility: hidden;
  }
  #nissanlogo{
    visibility: hidden;
  }
  #subarulogo{
    visibility: hidden;
  }
  #mitsubishilogo{
    visibility: hidden;
  }
  #mazdalogo{
    visibility: hidden;
  }




  .photo{
    grid-row:6/15;
    grid-column:1/6;
    background: url('/public/img/s15silvia.jpg') center center;
    background-size: cover;
  
    background-color: blue;
  }
  
  


  #break{
    overflow: hidden;
  }


}




@media screen and (max-width: 1280px) and (min-width: 701px){
  body{
    margin:0;
    padding:0;
    background-color: black;
  }
  #break{
    overflow: hidden;
    color: white;
  }
  .container{
    display:grid;
    grid-template-rows: repeat(100, 2%);
    grid-template-columns: repeat(24, 4%);

  }
  #topBar{
    visibility: hidden;
  }

  .pfp{
    display: grid;
    grid-column:1/6;
    grid-row:1/6;
    align-content: center;
  }
  #imgsca{
    max-width:100%;
    height:auto;
    border-radius:50%;
  }


  #cirImg{
    background-color: white;
    clip-path:circle(23%);
  }





  .navb{
    display: flex;
    background-color: #1F2833;
    grid-column: 10/24;
    grid-row: 2/5;
    justify-content:space-evenly;
    align-items: center;
  }
  .col{
    display:flex;
    flex-direction: column;
    justify-content: center;
    
  }
 

  .photo{
    grid-row:6/26;
    grid-column:2/25;
    background: url('/public/img/s15silvia.jpg') center center;
    background-size: cover;
    background-color: blue;
  }

  #overP1{
    background-color: #66FCF1;
    grid-column: 2/8;
    grid-row: 18/24;
    margin-bottom: 18px;
    margin-top: 25px;

  }
  #overP2{
    background-color: #45A29E;
    grid-column: 2/11;
    grid-row: 22/26;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .cent{
    text-align: center;
  }


  #underP1{
    background-color: #45A29E;
    grid-column: 2/8;

  }
  #underP2{
    background-color:#66FCF1;
    grid-column: 8/14;

  }
  #underP3{
    background-color: #45A29E;
    grid-column: 13/19;
    margin-left: 13px;
  }
  #underP4{
    background-color: #66FCF1;
    grid-column: 19/25;
  }
  .underP{
    display: flex;
    grid-row: 26/29;
    height:40%;
    align-items: center;
    justify-content: center;
  }



  #email{
    background-color: #1F2833;
    grid-column: 2/15;
    grid-row: 28/31;
    padding-left: 60px;
  }
  #emailtext{
    grid-column: 15/26;
    grid-row: 28/31;
    padding-top: 16px;
    background-color: #1F2833;
    padding-left: 20%;
  }
  #button1{
    grid-column: 21/24;
    grid-row: 28/31;
    padding-top: 15px;
  }
  #emailicon{
    grid-column: 2/4;
    grid-row: 28/31;
    width: 50px;
    height: 50px;
  }

  

  #imgcol1{
    grid-column: 2/7;
    grid-row: 32/38;
  }
  #col1H{
    grid-column: 2/7;
    grid-row: 38/49;
  }
  #col1B{
    background-color: #1F2833;
    grid-column: 2/7;
    
    
  }




  
  #imgcol2{
    grid-column: 8/13;
    grid-row: 32/38;
  }
  #col2H{
    grid-column: 8/13;
    grid-row: 38/49;
  }
  #col2B{
    background-color: #1F2833;
    grid-column: 8/13;
  }





  #imgcol3{
    grid-column: 14/19;
    grid-row: 32/38;
  }
  #col3H{
    grid-column: 14/19;
    grid-row: 38/49;
  }
  #col3B{
    background-color: #1F2833;
    grid-column: 14/19;
  }





  #imgcol4{
    grid-column: 20/25;
    grid-row: 32/38;
  }
  #col4H{
    grid-column: 20/25;
    grid-row: 38/49;
  }
  #col4B{
    background-color: #1F2833;
    grid-column: 20/25;
  }

  .colB{
    overflow-y: scroll;
    grid-row: 41/49;
  }


  .undercol{
    grid-row: 49/50;
  }
  #undercol1{
    grid-column: 2/7;
  }
  #undercol2{
    grid-column: 8/13;
  }
  #undercol3{
    grid-column: 14/19;
    
  }
  #undercol4{
    grid-column: 20/25;
  }






  #asidebar{
    grid-column: 2/24;
    grid-row: 52/60;
    text-align: center;
  }
  .newslink{
    border-style: solid;
    border-color: black;
    border-radius: 100px;
  }
  .newslink:hover{
    border-color: white;
  }

  #break{
    grid-row: 63;
    grid-column: 1/27;

  }


  #footer{
    grid-row: 64;
    grid-column: 1/3;
  }
  #insta{
    width: 50px;
    height: 50px;
    grid-column: 24/25;
    grid-row: 64/66;
  }

  #toyotalogo{
    
    width: 35px;
    height:35px;  
  }
  #nissanlogo{
    width: 35px;
    height:35px;
  }
  #subarulogo{
    width: 35px;
    height:35px;
  }
  #mitsubishilogo{
    width: 35px;
    height:35px;
  }
  #mazdalogo{
    width: 35px;
    height:35px;
  }







}



@media screen and (max-width: 1600px) and (min-width:1281px){
  
  #topBar{
    visibility: hidden;
  }

  body{
    margin:0;
    padding:0;
    background-color: black;
  }
  .container{
    display:grid;
    height:100vh;
    grid-template-rows: repeat(20, 10%);
    grid-template-columns: repeat(24, 4%);
    background-color: black;
  }




  .cent{

    text-align: center;
  }
  #overP1{
    background-color:#45A29E;
    grid-column: 4/9;
    grid-row: 4;
    height:75%;
    margin-top: 10%;
  }
  #overP2{
    background-color: #66FCF1;
    grid-column: 4/13;
    grid-row: 5;
    height: 50%;
    padding-bottom: 2%;
  }





  #underP1{
    background-color: #45A29E;
    grid-column: 4/9;
  }
  #underP2{
    background-color: #66FCF1;
    grid-column: 9/14;
  }
  #underP3{
    background-color: #45A29E;
    grid-column: 14/19;
  }
  #underP4{
    background-color: #66FCF1;
    grid-column: 19/24;
  }
  .underP{
    display: flex;
    grid-row: 6;
    height:40%;
    align-items: center;
    justify-content: center;
  }



  #email{
    background-color: #1F2833;
    grid-column: 6/24;
    grid-row: 6;
    height:50%;
    margin-top: 5.2%;
    padding-left: 10px;
  }
  #emailtext{
    grid-column: 17/20;
    grid-row: 6/7;
    margin-top: 40%;
    margin-left: 10%;
  }
  #button1{
    grid-column: 21/23;
    grid-row: 6/7;
    margin-top: 60%;
    margin-left: 2%;
  }
  #emailicon{
    width:50px;
    grid-column: 5/6;
    grid-row: 6/8;
    margin-top: 50px;
    margin-bottom: 85px;
  }




  #imgcol1{
    grid-column: 4/8;
    grid-row: 7/9;
    margin-top: 25px;
    margin-bottom: 65px;
  }
  #col1H{
    background-color: black;
    grid-column: 4/8;
    grid-row: 8/9;
    margin-top: 20px;
  }
  #col1B{
    background-color: #1F2833;
    grid-column: 4/8;
  }




  
  #imgcol2{
    grid-column: 9/14;
    grid-row: 7/9;
    margin-right: 25px;
    margin-top: 25px;
    margin-bottom: 65px;
  }
  #col2H{
    background-color: black;
    grid-column: 9/14;
    grid-row: 8/9;
    margin-right: 25px;
    margin-top: 20px;
  }
  #col2B{
    background-color:#1F2833;
    grid-column: 9/14; 
    margin-right: 25px;
  }





  #imgcol3{
    grid-column: 14/19;
    grid-row: 7/9;
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 65px;
  }
  #col3H{
    background-color: black;
    grid-column: 14/19;
    grid-row: 8/9;
    margin-left: 25px;
    margin-top: 20px;
  }
  #col3B{
    background-color:#1F2833;
    grid-column: 14/19;
    margin-left: 25px;
  }





  #imgcol4{
    grid-column: 20/24;
    grid-row: 7/9;
    margin-top: 25px;
    margin-bottom: 65px;
  }
  #col4H{
    background-color: black;
    grid-column: 20/24;
    grid-row: 8/9;
    margin-top: 20px;
  }
  #col4B{
    background-color: #1F2833;
    grid-column: 20/24;
  }

  .colB{
    grid-row: 8/11;
    margin-top: 75px; 
    overflow-y: scroll;
  }


  .undercol{
    grid-row: 11;
    background-color: black;
  }
  #undercol1{
    grid-column: 4/8;
  }
  #undercol2{
    grid-column: 9/14;
  }
  #undercol3{
    grid-column: 14/19;
    margin-left: 25px;
  }
  #undercol4{
    grid-column: 20/24;
  }

  .col{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #toyotalogo{
    
    width:50px;
    height:50px;

  }
  #nissanlogo{

    width:50px;
    height:50px;

  }
  #subarulogo{
    width:50px;
    height: 50px;
  }
  #mitsubishilogo{
    width:50px;
    height:50px;
  }
  #mazdalogo{
    width:50px;
    height:50px;
  }


  .navb{
    display:grid;
    background-color: #1F2833;
    grid-column: 1/4;
    grid-row: 2/6;
    margin-top: 40px;
    align-content: space-evenly;

  }
  #asidebar{
    background-color: black;
    grid-column: 1/4;
    grid-row: 6/10;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
  }
  .newslink{
    border-style: solid;
    border-color: black;
    border-radius: 100px;
  }
  .newslink:hover{
    border-color: white;
  }

  #break{
    grid-column: 1/25;
    grid-row: 12;
    overflow: hidden;
  }


  #footer{
    grid-row: 12;
    grid-column: 1/3;
    margin-top: 20px;
  }
  #insta{
    grid-row: 12;
    grid-column: 23/24;
    width: 50px;
    height:50px;
    margin-top: 20px;
  }


  .pfp{
    display: grid;
    grid-column: 1/4;
    grid-row: 1/3;
    align-items: center;
  }
  figure{
    text-align: center;
  }

  .photo{
    grid-column: 4/24;
    grid-row: 1/6;
    margin-top: 25px;
  }
  #imgsca{
    width:100%;
    height:auto;
    border-radius:50%;
  }
  #cirImg{
    
    clip-path:circle(40%);
  }

}





#toyotalogo{
  background: url('/img/kisspng-toyota-86-car-logo-general-motors--5b7b8e3e0831e0.5485634815348239980336.png') center center;
  background-size: cover;
}
#nissanlogo{
  background: url('/img/Nissan-logo-icon-on-transparent-background-PNG.png') center center;
  background-size: cover;
}
#subarulogo{
  background: url('/img/download.png') center center;
  background-size: cover;
}
#mitsubishilogo{
  background: url('/img/Mitsubishi-logo.png') center center;
  background-size: cover;
}
#mazdalogo{
  background: url('/img/Mazda-Logo-Transparent-Background.png') center center;
  background-size: cover;
}


.photo{
  background: url('/img/s15silvia.jpg') center center;
  background-size: cover;
}


#imgcol4{
  background: url('/img/c6-corvette-driving.jpg') center center;
  background-size: cover;
}

#imgcol3{
  background: url('/img/yellow_s15_aero_work_kiwami-nissan-silvia-s15.jpg') center center;
  background-size: cover;
}

#imgcol2{
  background: url('/img/1990-Nissan-Skyline-GT-R-Driver-Motorsport-Front-Grill.avif') center center;
  background-size: cover;
}

#imgcol1{
  background: url('/img/cqur3nrg_car_625x300_11_January_22.webp') center center;
  background-size: cover;
}

#emailicon{
  background: url('/img/icones-de-messagerie-blueue.png') center center;
  background-size: cover;
}

#insta{
  background: url('/img/new-instagram-logo-png-transparent.png') center center;
  background-size: cover;
}

.colourW{
  color: #C5C6C7;
}
.colourB{
  color: #66FCF1;
}
#backgroundb{
  background-color: black;
}  
.newslink{
 color: white;
}
#Fuze{
  color: white;
}